/* style.css */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-main{
    flex: 1;
}

.header-main {
    /* margin-top: 10px; */
    background-color: #D9D9D9;
    color:#000;
    flex-direction: row;
    padding: 15px;
    font-weight: 500;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* text-align: center; */
    box-shadow: 0px 1px 10px #000;
    display:flex;
    width:100%;
    
}
.header-left{
    width:50%;
    display:flex;
}
.logo{
    margin-top: 2%;
}
.header-left-1{
    margin-left:5%;
}
.header-right{
    width:50%;
    display:flex;
    justify-content: flex-end;
    margin-right:60px;
    
}

.header-right a{
   text-decoration: none;
    margin-left: -10px;
}
.login-button{
   
    width: 80px;
    height: 40px;
    padding:2px;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    background-color: #3988FF;
    border-radius: 5px;
    font-size:20px ;
    color:#fff;
    border-color:#3988FF ;
}
img.logo{
    float: left;
    height: 40px;
    width: 40px;
    margin: -5px;
}
.logo1{
    height:30px;
    width:30px;
    padding:3px;
    margin-left:5px;
    
}
.logo1:hover{
    scale:1;
}
.file{
    color:#444;
    background-color: #eee;

}
img{
    height: 25px;
    width: 25px;
    /* float: left; */
}
/* img:hover{
    height: 30px;
    width: 30px;
} */
.content{
    /* margin: 40px; */
    margin-top:-5px;
    text-align: center;
    width: 100%;
    height:300px;
    background-color: #3988FF;
    display: flex;
}
.content-left{
    width:50%;
    
}
.content-right{
    width:50%;
    
    
}
.content-right form{
    margin-top:15%;
}
.content-left h2{
    font-size: 50px;
    color:#fff;
    padding: 10%;
}
.content-left p{
    margin-top:-10%;
    color:#fff;
    font-size: 20px;
}
table{
    margin-top: 20px;
    /* margin:50px; */
    min-width: 100%;
    background-color: #A4A4A4;
    justify-content: center;
    table-layout: fixed;
}
.Select,.delete{
    width: 40px;
    text-align: center;
    font-weight: 700;
    background-color: #A4A4A4;
    color: #000;
}

.Filename{
    text-align: center;
    font-weight: 700;
    background-color:#A4A4A4;
    color: #000;
    /* box-shadow: 1px 0px 12px; */
    /* border-color: transparent; */
}
.Filepath{
    text-align: center;
    font-weight: 700;
    width: 70%;
    background-color: #A4A4A4;
    color: #000;
}
input{
    background-color: #A4A4A4;
    color: #000;
}
td{
    text-align: left;
    margin: 15px;
    padding: 10px;
    
    /* box-shadow: 0.1px  0.1px 2px; */
}
tr{
    text-align: left;
    margin: 15px;
    padding: 10px;
    border-left: #000;
}
.table-hedings{
    background-color: #A4A4A4;
}
.footer {
    background-color: #eee;
    padding: 10px;
    margin-top: auto;
    text-align: center;

}

.container {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
  }
  
  .header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header svg {
    height: 100px;
  }
  
  .header p {
    text-align: center;
    color: black;
  }
  
  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  .delete-button{
    background-color: #dedede;
    border-color: #dedede;
    margin-top: 10px;
    height:30px;
    margin-left: 10px;
    border-radius: 7px;

  }
  .footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer p {
    flex: 1;
    text-align: center;
  }
  
  #file {
    display: none;
  }
  .content-right form input[type="text"] {

    padding: 8px;
    margin-bottom: 12px;
    
    box-sizing: border-box;
    background-color: #D9D9D9;
    border-radius:9px
}

.content-right form .choose{
    height:30px;
    border-radius:9px;
    border-color: white;
}
.form-lable{
    color:white;
    font-size:23px;

}
.compare-button{
    background-color: #dedede;
    height:30px;
    border-radius:9px;
    border-color:#dedede ;
    margin-top: -1%;
}
.compare-button:hover{
    background-color: #000;
    border-color:#000;
    color: #dedede;
}
    
.comapre-form{
    margin-top: 10px;
}
.content-right form{
 margin-top: 7%;
}