<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>File Upload and Delete</title>
</head>
<body>
    <div class="container-main">
        <div class="header-main">
            <div class="header-left">
                <img class="logo" src="https://static.thenounproject.com/png/5209-200.png">
                <span>ashIt!</span>
                <div class="header-left-1">
                    <a href="/"><img class="logo1" src="../static/images/home.png"></a>
                    <a href="/"><img class="logo1" src="../static/images/pre-process.png"></a>
                    <a href="/geospatial"><img class="logo1" src="../static/images/cateloging.png"></a>
                    <a href="/catalog"><img class="logo1" src="../static/images/geospatial.png"></a>
                </div>
            </div>
            
            <div class="header-right">
                <a href="#"><button class="login-button">Login</button></a>
            </div>
        </div>
        
        <div class="content">  
            <div class="content-left">
                <h2>Geo-spatial Data Manager</h2>
                <p>Process, Organize and Translate your geo-spatial data efficiently.</p>
            </div> 
            <div class="content-right">
                <form method="post" enctype="multipart/form-data" class="compare-form" action="{{ url_for('index') }}">
                    <label for="folder1" class="form-lable">Source Directory:</label>
                    <div>
                        <input type="text" id="folder1" name="folder1">
                    </div>
                    <br>
                    <label for="folder2" class="form-lable">Destination Directory:</label>
                    <div>
                        <input type="text" id="folder2" name="folder2">
                    </div>
                    <br>
                    <button type="submit" class="compare-button">Compare</button>
                </form>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="errors">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <script>
                    function chooseDirectory(inputId) {
                        document.getElementById(inputId).value = "";
                        const input = document.createElement("input");
                        input.type = "file";
                        input.webkitdirectory = true;
                        input.onchange = function () {
                            const files = input.files;
                            if (files.length > 0) {
                                document.getElementById(inputId).value = files[0].path || files[0].webkitRelativePath;
                            }
                        };
                        input.click();
                    }
                </script>
            </div>
        </div>
        
        
    </div>
    <div class="approach-div">
        <p>Our Approach :
            Implemented Modified MinHash algorithm on the given unstructured geospatial data . This Algorithm converts binary and text convertable files to text files and applies shingling which generates a pickle file . This is the output of the preprocessing step . We run the MinHash algorithm on the generated pickle file . The Minhash algorithm gives a set of n nearest redundant files (for eg. if file1 , file2 and file3 are similar the ouptput will be the set of 3 ie. {file1 , file2 , file3}) . Integrating this output with the fronted to display redundant files and addition/deletion of files . Now , our data is ready for geospatial processing and storage . We store and process the geospatial data efficiently using postgreSQL and duckDB . Implementing an efficient cataloging system for this data using filtering techniques .</p>
    </div>
    <div class="footer">
        &copy; 2024 Bug Bunnies
    </div>
</body>
</html>
