<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>File Upload and Delete</title>
</head>
<body>
    <div class="container-main">
        <div class="header-main">
            <div class="header-left">
                <img class="logo" src="https://static.thenounproject.com/png/5209-200.png">
                <span>ashIt!</span>
                <div class="header-left-1">
                    <a href="/"><img class="logo1" src="../static/images/home.png"></a>
                    <a href="/"><img class="logo1" src="../static/images/pre-process.png"></a>
                    <a href="#"><img class="logo1" src="../static/images/cateloging.png"></a>
                    <a href="#"><img class="logo1" src="../static/images/geospatial.png"></a>
                </div>
            </div>
            
            <div class="header-right">
                <a href="#"><button class="login-button">Login</button></a>
            </div>
        </div>
        
        <div class="content">  
            <div class="content-left">
                <h2>Geo-spatial Data Manager</h2>
                <p>Process, Organize and Translate your geo-spatial data efficiently.</p>
            </div> 
            <div class="content-right">
                <form method="post" enctype="multipart/form-data" class="compare-form" action="{{ url_for('index') }}">
                    <label for="folder1" class="form-lable">Source Directory:</label>
                    <div>
                        <input type="text" id="folder1" name="folder1" value="{{ form.source_dir }}" required readonly>
                        <button type="button" onclick="chooseDirectory('folder1')" class="choose">Choose Folder</button>
                    </div>
                    <br>
                    <label for="folder2" class="form-lable">Destination Directory:</label>
                    <div>
                        <input type="text" id="folder2" name="folder2" value="{{ form.dest_dir }}" required readonly>
                        <button type="button" onclick="chooseDirectory('folder2')" class="choose">Choose Folder</button>
                    </div>
                    <br>
                    <button type="submit" class="compare-button">Compare</button>
                </form>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="errors">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <script>
                    function chooseDirectory(inputId) {
                        document.getElementById(inputId).value = "";
                        const input = document.createElement("input");
                        input.type = "file";
                        input.webkitdirectory = true;
                        input.onchange = function () {
                            const files = input.files;
                            if (files.length > 0) {
                                document.getElementById(inputId).value = files[0].path || files[0].webkitRelativePath;
                            }
                        };
                        input.click();
                    }
                </script>
            </div>
        </div>
        
        <div class="container-2">
            <form action="{{ url_for('delete_files') }}" method="post">
                <div class="table">
                    <table>
                        <tr class=table-headings>
                            <td class="Select">Select</td>
                            <td class="Filename">File Name</td>
                            <td class="Filepath">File Path</td>
                            <td class="delete">Delete</td>
                        </tr>
                        {% for file in files %}
                            <tr>
                                <td><input type="checkbox" name="selected_files" value="{{ file }}"></td>
                                <td>{{ file }}</td>
                                <td>{{ file_path }}</td>
                                <td><a style="text-decoration: none;" href="{{ url_for('delete_file', filename=file) }}"><img src="https://cdn.iconscout.com/icon/free/png-256/free-bin-2782756-2316163.png"></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input type="submit" value="Delete Selected" class="delete-button">
                </div>
            </form>
        </div>
    </div>
    
    <div class="footer">
        &copy; 2023 Your Company
    </div>
</body>
</html>
